<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="piyush6348.builditbigger.com.mylibrary">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ImageActivity"></activity>
    </application>

</manifest>